.func {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
  }
  
  .func-body {
	min-width: 30px;
	min-height:30px;
	max-width: 600px;
	max-height:600px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	padding: 10px;
  }
  
  .simp {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: red;
	margin: 10px;
  }
  
  .struc {
	min-width: 30px;
	min-height:30px;
	background: green;
	padding: 5px;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
  }
  
  .type-graph {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5%;
  }
  .func-body {
	background: #D9D9D6;
  }
  
  .func-body .func-body {
	background: #B1B3B3;
  }
  
  .func-body .func-body .func-body {
	background: green;
  }
  
  .connector {
	background: #635C4F;
	width: 5px;
	height: 10px;
	margin-bottom: -10px
  }
  
  .simp.a {
	background: #6F5091;
  }
  
  .simp.b {
	background: #E44B55;
  }
  
  .simp.c {
	background: #009ACE;
  }
  
  .simp.d {
	background: #00B373;
  }
  
  .simp.a1 {
	background: #00CFB4;
  }
  .simp.a2 {
	background: #BBA600;
  }
  
  .struc.f {
	background: #F6BE00;
  }
  
  .struc.t {
	background: #E7B78A;
  }
  
  .struc.m {
	background: #ED9B33;
  }
  
  .struc .struc {
	filter: brightness(85%);
  }